<div class="header shadow-below background-dark">
    <div class="content-wrapper">
        <nav class="navbar-dark navbar">
            <img src="images/computer.png" style="height:40px; margin: 0 10px; padding:0">
            <a class="navbar-brand" href="javascript:void(0)" [routerLink]="['/']">
                <b>Angular</b> Demo Project
            </a>

            <a class="nav-item" [routerLink]="['/welcome']"><i class=" fa fa-home" aria-hidden="true"></i>
               <span class="hide-md-down"> {{'menu.welcome'|translate}}</span>
            </a>
            <a class="nav-item" [routerLink]="['/movies']"><i class="fa fa-film" aria-hidden="true"></i>
                <span class="hide-md-down"> {{'menu.movies'|translate}}</span>
            </a>
            <a class="nav-item" [routerLink]="['/changes']"><i class="fa  fa-commenting-o" aria-hidden="true"></i>
                <span class="hide-md-down"> {{'menu.changes'|translate}}</span>
            </a>

            <div class="pull"></div>
            <messages-menu class="nav-group hide-sm-down"></messages-menu>
            <lang-menu class="nav-group hide-sm-down" ></lang-menu>
            <user-menu class="nav-group hide-xs-down" ></user-menu>


            <div class="display-sm-down popup popup-menu-left"><i class="fa fa-bars"></i>
                <ul class="list">
                    <li routerLinkActive="active">
                        <a [routerLink]="['/welcome']"><i class=" fa fa-home" aria-hidden="true"></i>
                            {{'menu.welcome'|translate}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/movies']"><i class="fa fa-film" aria-hidden="true"></i>
                            {{'menu.movies'|translate}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/changes']"><i class="fa  fa-commenting-o" aria-hidden="true"></i>
                            {{'menu.changes'|translate}}</a>
                    </li>
                    <messages-menu></messages-menu>
                    <lang-menu></lang-menu>
                    <user-menu></user-menu>
                </ul>
            </div>
        </nav>
    </div>
</div>


