<ul class="nav navbar-nav navbar-right">
    <li class="dropdown" ng-class="{ open : dd1 }" ng-init="dd1 = false"
        ng-click="dd1 = !dd1">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-language" aria-hidden="true"></i> {{translateService.getLanguage() | uppercase}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li *ngFor="let lang of translateService.getSupportedLanguages()">
                <a (click)="translateService.setLanguage(lang)">{{translateService.getLanguageName(lang)}}</a>
            </li>
        </ul>
    </li>
</ul>