<div id="title" class="wallpaper">
    <div class="container">
        <div class="jumbotron">
            <h1>{{'login.title'|translate}}</h1>
            <h3>{{'login.description'|translate}}</h3>
        </div>
    </div>
</div>

<div class="container">
    <form [formGroup]="form" class="form-horizontal" novalidate (ngSubmit)="login()">
        <!--
        <p>Form: {{ form.value | json }}</p>
        <p>Form status: {{ form.status | json }}</p>
        <p>User control errors: {{ form.controls.user.errors | json }}</p>
        -->
        <div class="input-group validation">
            <p>
                <label>{{'login.user'|translate}}:</label>
                <input class="widget" type="text" formControlName="user"
                       placeholder="{{'login.user-hint'|translate}}">
                <inputErrors [source]="form.controls.user.errors"></inputErrors>
            </p>
            <p>
                <label>{{'login.password'|translate}}:</label>
                <input class="widget" type="password" formControlName="password"
                       placeholder="{{'login.password-hint'|translate}}">
                <inputErrors [source]="form.controls.password.errors"></inputErrors>
            </p>
            <button class="btn btn-primary" [disabled]="!form.valid">{{'general.submit'|translate}}</button>
        </div>
    </form>
</div>