<ul class="nav navbar-nav navbar-right">
    <li class="dropdown" ng-class="{ open : dd1 }" ng-init="dd1 = false"
        ng-click="dd1 = !dd1">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-envelope" aria-hidden="true"></i> {{getNumberOfMessages()}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <div class="messages">
                <div class="message" *ngFor="let message of messagesService.getMessages()">
                <span [class.message-success]="message.severityName=='info'"
                      [class.message-warning]="message.severityName=='warning'"
                      [class.message-danger]="message.severityName=='error'">
                    {{message.severityName}}
                </span>
                    <div>
                        <span class="message-title">
                            {{message.title}}
                        </span>
                        <span class="message-content">
                            {{message.content}}
                        </span>
                        <span>
                            <button type="button" class="btn btn-default btn-xs ">x</button>
                        </span>
                    </div>
                </div>
            </div>
            <div>
               <a href="#">clear messages</a>
            </div>
        </ul>
    </li>
</ul>