<div class="container">
    <h1 class="col-12">{{'movies.title'|translate}}</h1>

    <div class="col-xs-6 col-sm-4 col-md-3" *ngFor="let movie of movies">
        <div class="featurebox">

            <a href="javascript:void(0)" [routerLink]="['/movie', movie.id]">
                <div class="featurebox-thumbnail" style="max-height: 360px ">
                    <img [src]="movie.image">
                </div>
                <div class="featurebox-content">
                    <header>{{movie.title}}</header>
                    <span class="single-line">
                        <b>{{movie.year}}</b> <br class="visible-xs">
                        {{movie.genres | commaSeparated}}
                    </span><br>
                    <span class="hidden-xs">
                        <rating value="{{movie.rating}}" max="10"></rating>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>