<ul class="nav navbar-nav navbar-right">
    <li class="dropdown" *ngIf="applicationService.user" ng-class="{ open : dd1 }" ng-init="dd1 = false"
        ng-click="dd1 = !dd1">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i> {{applicationService.user.name}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Account settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="applicationService.logout()">Logout</a></li>
        </ul>
    </li>
    <li *ngIf="!applicationService.user">
        <a href="javascript:void(0)" (click)="applicationService.login('Test User','secret007')">
            <i class="fa fa-user" aria-hidden="true"></i> Sign Up
        </a>
    </li>
    <li *ngIf="!applicationService.user">
        <a href="javascript:void(0)" [routerLink]="['/login']">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Login
        </a>
    </li>
</ul>