<div id="title" class="wallpaper">
    <div class="container">
        <div class="jumbotron">
            <h1>{{title}}</h1>
            <h3>{{message}}</h3>
        </div>
    </div>
</div>

<div class="container">
    <p>
    <div *ngIf="!getUser()">
        <h1>Welcome, dear guest</h1>
        please use the menu action to login.
    </div>
    <div *ngIf="getUser()">
        <h1>Hello {{getUser().name}}</h1>
        nice to have you back!
    </div>
    <p>
        <!--
    <h3>Data from ExampleService</h3>
    <ul>
        <li *ngFor="let item in exampleData">
            <b>{{item.commit.message}}</b>
            <p class="size-s">
                on <span class="label label-primary">{{item.commit.author.date}}</span>
                by <span class="label label-info">{{item.commit.author.name}}</span>
            </p>
        </li>
    </ul>
        -->
</div>