
.featurebox {
  border: 1px solid #888899;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 2em;

  a {
    text-decoration: none;
  }
}

.featurebox-thumbnail {
  width: 100%;
  min-height: 2em;
  overflow: hidden;
  border-bottom: 4px solid #304B6A;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0;
    padding: 0;
    display: table;
  }

  img {
    margin: 0;
    display: inherit;
    transition: all 0.4s ease-out;
    flex-shrink: 1;
    width: 100%;
  }
}

.featurebox:hover .featurebox-thumbnail img {
  transform: scale(1.25) rotate(2deg);
}

.featurebox-title a {
  color: #FFFFFF;
  text-decoration: none;
}

.featurebox-content {
  padding: 1em 0.5em 0.5em 0.5em;
  position: relative;
  background: #FFFFFF;
  text-overflow: ellipsis;

  header {
    position: absolute;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 1.2em;
    background: #304B6A;
    top: -1em;
    left: 0;
    padding: 3px 10px;
    vertical-align: baseline;
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}