$default-color: #333344;
$mandatory-color: #007EC7;
$error-color: #B81104;
$info-color: #76BD17;

.input-group {
  width: 100%;
  margin: 12px 0;
  box-shadow: none;

  > label {
    display: block;
    color: $default-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 70%;
    padding: 0;
    margin: 0;
  }

  .widget {
    display: block;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0 0 6px 0;
    background: none;
    border-bottom: 1px solid $default-color;
  }

  .widget:focus {
    border-bottom-width: 2px;
    padding-bottom: 5px;
  }

  > span {
    display: block;
    font-weight: normal;
    font-size: 80%;
  }
}

.input-group.validation.error {

  > label {
    color: $error-color;
  }
  > span {
    color: $error-color;
  }
  .widget {
    border-color: $error-color;
  }
}

.input-group.validation.mandatory {

  > label {
    color: $mandatory-color;
  }
  > span {
    color: $mandatory-color;
  }
  .widget {
    border-color: $mandatory-color;
  }
}

.input-group.validation.info {

  > label {
    color: $info-color;
  }
  > span {
    color: $info-color;
  }
  .widget {
    border-color: $info-color;
  }
}

input:invalid {
  box-shadow: none;
}

*:focus {
  outline: none;
}
