.input-group {
    width: 100%;
    margin: 12px 0;
    box-shadow: none;
}

.input-group > label {
    display: block;
    color: #666666;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 70%;
    padding: 0;
    margin: 0 0 3px 0;
}

.input-group .widget {
    display: block;
    width: 100%;
    border: 0;
    padding: 0 0 6px 0;
    background: none;
    border-bottom: 1px solid #666666;
}

.input-group .widget:focus {
    border-bottom-width: 2px;
    padding-bottom: 5px;
}

.input-group > span {
    font-weight: normal;
    xfont-style: italic;
    font-size: 90%;
}

.input-group.validation.error > label {
    color: #B81104;
}

.input-group.validation.error > span {
    color: #B81104;
}

.input-group.validation.error > .widget {
    border-color: #B81104;
}

.input-group.validation.info > label {
    color: #76BD17;
}

.input-group.validation.info > span {
    color: #76BD17;
}

.input-group.validation.info > .widget {
    border-color: #76BD17;
}

.input-group.validation.mandatory > label {
    color: #007EC7;
}

.input-group.validation.mandatory > span {
    color: #007EC7;
}

.input-group.validation.mandatory > .widget {
    border-color: #007EC7;
}

input:invalid {
    box-shadow: none;
}

*:focus {
    outline: none;
}