html {
  min-height: 100%;
}

body {
  background-color: #F6F6F6;
  background: radial-gradient(circle farthest-corner at 50% 30%, #FFFFFF 50%, #cfd0d4 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

img.liquid {
  max-width: 100%;
}

.wallpaper {
  background: url(../images/wallpaper.jpg);
  background-size: cover;
  background-position: 100% 30%;

}

.navbar-toolbar {

  margin: 0;
  min-height: 0;
  padding: 5px 0;

  button {
    border: none;
  }
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}